.portfolio {
  background-color: rgba(32, 201, 151, 0.3);
}

.portfolio .mockup-slide .title {
  color: #20c997;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
  width: 72%;
  max-width: 420px;
  margin-left: 150px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
  width: 68%;
  max-width: 420px;
  margin-top: 20px;
  margin-right: 80px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
  width: 82%;
  max-width: 480px;
  margin-right: 50px;
}

.portfolio .explain {
  position: relative;
}

.portfolio .explain .test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .explain .test > img {
  width: 300px;
  height: 300px;
}

@media (max-width: 768px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    max-width: 400px;
    margin-left: 100px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    max-width: 480px;
    margin-right: 40px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 78%;
    max-width: 400px;
    margin-top: 10px;
    margin-right: 90px;
  }
}

@media (max-width: 480px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    margin-left: 60px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    margin-right: 30px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 82%;
    max-width: 270px;
    margin-top: 10px;
    margin-right: 60px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 66%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 74%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 64%;
    margin-right: 50px;
  }
}
