.portfolio {
  background-color: rgba(32, 201, 151, 0.3);
}

.portfolio .mockup-slide .title {
  color: #20c997;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
  width: 72%;
  max-width: 420px;
  margin-left: 150px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
  width: 68%;
  max-width: 420px;
  margin-top: 20px;
  margin-right: 80px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
  width: 82%;
  max-width: 480px;
  margin-right: 50px;
}

.portfolio .explain {
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
}

.portfolio .square-container {
  display: flex;
  /* justify-content: center; */
}

.portfolio-explain {
  display: flex;
}

.portfolio-explain .size-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 820px;
  height: 540px;
  overflow: hidden;
  margin-left: 40px;
  /* background-color: red; */
}

.portfolio-explain .web {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  /* animation: identifier ease-in-out 4600ms; */
}

@keyframes identifier {
  0% {
    top: 0;
  }
  50% {
    top: -630px;
  }
  100% {
    top: 0;
  }
}

.portfolio-explain .phone {
  display: flex;
  width: 200px;
  position: absolute;
  top: -906px;
  right: 0;
  /* animation: identifier2 ease-in-out 5600ms; */
  margin-left: 30px;
}

@keyframes identifier2 {
  0% {
    top: -906px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -906px;
  }
}

@media (max-width: 768px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    max-width: 400px;
    margin-left: 100px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    max-width: 480px;
    margin-right: 40px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 78%;
    max-width: 400px;
    margin-top: 10px;
    margin-right: 90px;
  }
}

@media (max-width: 480px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    margin-left: 60px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    margin-right: 30px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 82%;
    max-width: 270px;
    margin-top: 10px;
    margin-right: 60px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 66%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 74%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 64%;
    margin-right: 50px;
  }
}
