.portfolio {
  background-color: rgba(32, 201, 151, 0.3);
}

.portfolio .mockup-slide .title {
  color: #20c997;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
  width: 72%;
  max-width: 420px;
  margin-left: 150px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
  width: 68%;
  max-width: 420px;
  margin-top: 20px;
  margin-right: 80px;
}

.portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
  width: 82%;
  max-width: 480px;
  margin-right: 50px;
}

.portfolio .explain {
  position: relative;
  width: 100%;
  height: 100vh;
}

.portfolio .explain .left {
  flex-direction: column;
  overflow-y: hidden;
  padding-top: 30px;
  height: 520px;

  /* background-color: red; */
}

.portfolio .explain .left .left--box {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 800px;
  /* transform: translateY(-580px); */
}

.box2 {
}

.box2 > video {
  width: 500px;
  margin: 80px 0;
  border-radius: 16px;
}

.portfolio .portfolio-explain .tablet {
  height: 500px;
}

@keyframes identifier {
  0% {
  }
  100% {
    transform: translateY(-580px);
  }
}

.portfolio .portfolio-explain .phone {
  display: flex;
  width: 230px;
  height: fit-content;
  margin-left: 24px;
}

/* @keyframes identifier2 {
  0% {
    transform: translateY(-742px);
  }
  100% {
    transform: translateY(0);
  }
} */

.portfolio .portfolio-explain .responsive-explain {
  width: 240px;
  margin-left: 20px;
}

.portfolio .portfolio-explain .desc {
  margin: 4em 0;
  text-align: right;
}

.explain-bold,
.explain-p {
  font-size: 14px;
  line-height: 1.5em;
}

.explain-bold {
  font-weight: 600;
}

.explain-p {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    max-width: 400px;
    margin-left: 100px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    max-width: 480px;
    margin-right: 40px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 78%;
    max-width: 400px;
    margin-top: 10px;
    margin-right: 90px;
  }

  .portfolio .explain {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 80%;
    margin-left: 60px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 88%;
    margin-right: 30px;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 82%;
    max-width: 270px;
    margin-top: 10px;
    margin-right: 60px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .portfolio .mockup-slide .slide .slide-container .inner .mockup-total {
    width: 66%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-iphone {
    width: 74%;
  }

  .portfolio .mockup-slide .slide .slide-container .inner .mockup-imac {
    width: 64%;
    margin-right: 50px;
  }
}
