body {
  font-family: futura-pt, sans-serif;
  height: 200vh;
}

.projects-container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container .title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #5c5c5c;
  width: 940px;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .project {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 26px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-property: transform, box-shaodw;
  transition: 500ms ease-in-out;
  background-color: transparent;
  border: none;
  font-family: futura-pt, sans-serif;
}

.project img {
  width: 30px;
  height: 30px;
}

.project .text {
  text-transform: uppercase;
}

.project .project-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.project .project-tools {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.projects .project:nth-child(1) {
  color: #20c997;
}
.projects .project:nth-child(2) {
  color: #5c7cfa;
}
.projects .project:nth-child(3) {
  color: #845ef7;
}
.projects .project:nth-child(4) {
  color: #ff6b6b;
}

.projects .project:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.line {
  width: 280px;
  height: 1px;
}

@media (max-width: 1024px) {
  .projects-container .title {
    width: 840px;
  }

  .projects .project {
    width: 200px;
    height: 200px;

    padding: 24px;
  }

  .project .project-title {
    font-size: 18px;
  }

  .project .project-tools {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .projects-container .title {
    width: 400px;
  }

  .projects {
    width: 580px;
  }

  .projects .project {
    width: 200px;
    height: 200px;
    padding: 24px;
    margin: 8px;
  }

  .projects .project:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
  }
}

@media (max-width: 480px) {
  .projects-container .title {
    width: 340px;
    font-size: 22px;
    margin-bottom: 12px;
  }

  .projects {
    width: 380px;
  }

  .projects .project {
    width: 170px;
    height: 170px;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }

  .project img {
    width: 24px;
    height: 24px;
  }

  .project .project-title {
    font-size: 18px;
  }

  .project .project-tools {
    font-size: 12px;
  }

  .projects .project:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    transform: none;
  }
}
