body {
  font-family: futura-pt, sans-serif;
}

.projects {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
}

.projects .projects__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #5c5c5c;
  width: 920px;
}

.projects-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-list .project-list__button {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 26px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 500ms ease-in-out;
  background-color: transparent;
  border: none;
  font-family: 'futura-pt', sans-serif;
}

.project-list__button .projects-list__icon {
  width: 30px;
  height: 30px;
}

.project-list__button .projects-list__text {
  text-transform: uppercase;
}

.project-list__button .projects-list__title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.project-list__button .projects-list__tools {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.projects-list .projects-list__item:nth-child(1) .project-list__button {
  color: #5c7cfa;
}
.projects-list .projects-list__item:nth-child(2) .project-list__button {
  color: #845ef7;
}
.projects-list .projects-list__item:nth-child(3) .project-list__button {
  color: #ff6b6b;
}
.projects-list .projects-list__item:nth-child(4) .project-list__button {
  color: #20c997;
}

.projects-list .projects-list__item .project-list__button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

@media (max-width: 1024px) {
  .projects .projects__title {
    width: 730px;
    font-size: 24px;
  }

  .projects-list .project-list__button {
    width: 180px;
    height: 180px;
    padding: 22px;
    margin: 5px;
    border-radius: 24px;
  }

  .project-list__button .projects-list__title {
    font-size: 17px;
  }

  .project-list__button .projects-list__tools {
    font-size: 13px;
    margin-top: 3px;
  }

  .project-list__button .projects-list__icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .projects .projects__title {
    width: 380px;
  }

  .projects-list {
    width: 580px;
  }

  .projects-list .project-list__button {
    width: 190px;
    height: 190px;
    padding: 24px;
    margin: 8px;
  }

  .projects-list .projects-list__item .project-list__button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
  }

  .project-list__button .projects-list__icon {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 480px) {
  .projects .projects__title {
    width: 300px;
    font-size: 22px;
    margin-bottom: 12px;
  }

  .projects-list {
    width: 380px;
  }

  .projects-list .project-list__button {
    width: 150px;
    height: 150px;
    padding: 18px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin: 6px;
    border-radius: 20px;
  }

  .project-list__button .projects-list__icon {
    width: 22px;
    height: 22px;
  }

  .project-list__button .projects-list__title {
    font-size: 16px;
  }

  .project-list__button .projects-list__tools {
    margin-top: 2px;
    font-size: 11px;
  }

  .projects-list .projects-list__item .project-list__button:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    transform: none;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .projects {
    height: auto;
  }
}
