:root {
  --mainColor: #20c997;
  --backGroundColor: #eeeff0;
  --font-futura: futura-pt, sans-serif;
  --font-noto: 'Noto Sans KR', sans-serif;
}

body {
  position: relative;
  font-family: futura-pt, sans-serif;
}

/* 1. 랜딩페이지 */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.landing-page .title {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.landing-page .sub-title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.landing-page .name {
  color: var(--mainColor);
}

.landing-page .waving-hand {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 50px;
  animation-name: shaking-hand;
  animation-duration: 0.8s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shaking-hand {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(50deg);
  }
}

/* 2. aboutme 페이지 */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.background {
  background: linear-gradient(
      90deg,
      rgba(184, 224, 142, 0.3) 0%,
      rgba(32, 201, 151, 0.3) 100%
    ),
    rgba(32, 201, 151, 0.3);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: 2.5s;
}

.about-me .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 80%;
}

.about-me .left .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me .left .top .memoji {
  width: 246px;
  height: 310px;
}

.about-me .left .top .name {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  width: 136px;
  height: 30px;
  margin-top: 18px;
}

.about-me .left .top .nickname {
  font-size: 18px;
  font-family: var(--font-futura);
  font-weight: 400;
}

.about-me .left .top .desc {
  margin-top: 24px;
  font-size: 16px;
  font-family: var(--font-noto);
  line-height: 1.5em;
  text-align: center;
}

.about-me .left .bottom .info .mail {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.about-me .left .bottom .info .info-btn {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  padding: 8px 12px;
  padding-top: 10px;
  background-color: #20c997;
  color: var(--backGroundColor);
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.about-me .left .bottom .info .info-btn:hover {
  background-color: #16bf8d;
}

.about-me .left .bottom .info .info-btn:active {
  background-color: #02ab79;
}

.about-me .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 80%;
  color: #484848;
  font-size: 24px;
}

.about-me .right .title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
}

.about-me .right .career-list {
  height: 100%;
  overflow-y: scroll;
}

.about-me .right .career-list .list {
  width: 526px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: var(--font-noto);
  padding: 30px 40px;
  box-sizing: border-box;
}

.about-me .right .career-list .list .list-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-me .right .career-list .list .list-desc {
  font-size: 16px;
  line-height: 24px;
}

/* .about-me .right .career-list .list:nth-child(1) {
  height: 182px;
}

.about-me .right .career-list .list:nth-child(2) {
  height: 206px;
}

.about-me .right .career-list .list:nth-child(3) {
  height: 158px;
}

.about-me .right .career-list .list:nth-child(4) {
  height: 206px;
}

.about-me .right .career-list .list:nth-child(5) {
  height: 200px;
} */
