:root {
  --mainColor: #20c997;
  --backGroundColor: #eeeff0;
  --font-futura: futura-pt, sans-serif;
  --font-noto: 'Noto Sans KR', sans-serif;
}

body {
  position: relative;
  font-family: futura-pt, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

/* projects로 돌아가는 버튼 : timer페이지부터 visible됨 */
.projects-btn {
  display: flex;
  padding: 10px 12px;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  outline: none;
  position: fixed;
  top: 36px;
  left: -34px;
  visibility: hidden;
  z-index: 9999;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-family: var(--font-futura);
  font-size: 15px;
  font-weight: 600;
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0.7);
}
/* 1. 랜딩페이지 */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.landing-page .title {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.landing-page .sub-title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 600;
}

.landing-page .name {
  color: var(--mainColor);
}

.landing-page .waving-hand {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 140px;
  animation-name: shaking-hand;
  animation-duration: 0.8s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shaking-hand {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(50deg);
  }
}

/* 2. aboutme 페이지 */
.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.background {
  background: linear-gradient(
      90deg,
      rgba(184, 224, 142, 0.3) 0%,
      rgba(32, 201, 151, 0.3) 100%
    ),
    rgba(32, 201, 151, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: 3s;
}

.about-me .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 76%;
  margin-left: 80px;
}

.about-me .left .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me .left .top .memoji {
  width: 140px;
  height: 188px;
}

.about-me .left .top .name {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 14px;
}

.about-me .left .top .nickname {
  font-size: 18px;
  font-family: var(--font-futura);
  font-weight: 400;
}

.about-me .left .top .desc {
  margin-top: 10px;
  font-size: 15px;
  font-family: var(--font-noto);
  line-height: 1.6em;
  text-align: center;
}

.about-me .left .bottom .info .mail {
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  text-decoration: underline;
  transition: color 300ms ease-in-out;
}

.about-me .left .bottom .info .mail:hover {
  color: #02ab79;
}

.about-me .left .bottom .info .info-btn {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  padding: 8px 10px;
  padding-top: 7px;
  background-color: #20c997;
  color: var(--backGroundColor);
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
}

.about-me .left .bottom .info .info-btn:hover {
  background-color: #16bf8d;
}

.about-me .left .bottom .info .info-btn:active {
  background-color: #02ab79;
}

.about-me .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78%;
  color: #484848;
  font-size: 24px;
  margin-right: 80px;
}

.about-me .right .title {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  align-self: flex-start;
}

.about-me .right .career-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.about-me .right .career-list .list {
  width: 526px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: var(--font-noto);
  padding: 30px 40px;
  box-sizing: border-box;
}

.about-me .right .career-list .list {
  width: 450px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 16px;
  font-family: var(--font-noto);
  padding: 28px 30px;
  box-sizing: border-box;
}

.about-me .right .career-list .list .list-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.about-me .right .career-list .list .list-desc {
  font-size: 15px;
  line-height: 1.6em;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  /* background-color: aquamarine; */
}

footer .footer--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 0 20px;
}

footer .contact {
  display: flex;
  align-items: center;
}

footer .contact .contact--mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .footer-github img {
  width: 22px;
  margin-right: 16px;
}

footer .email--icon {
  font-size: 26px;
}

footer .contact--mail:hover,
footer .footer-github:hover {
  filter: invert(57%) sepia(64%) saturate(508%) hue-rotate(111deg)
    brightness(100%) contrast(89%);
}

footer .copyright {
  font-size: 14px;
}

/* 1024px */
@media (max-width: 1024px) {
  .about-me .left {
    margin-left: 0;
  }

  .about-me .right {
    margin-right: 0;
  }

  .projects-btn {
    left: -30px;
    padding: 8px 10px;
    font-size: 14px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .projects-btn {
    left: -26px;
    padding: 6px 10px;
    font-size: 12px;
  }

  .about-me {
    justify-content: unset;
    flex-direction: column;
    height: auto;
  }

  .landing-page .title {
    font-size: 50px;
  }

  .landing-page .sub-title {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.2em;
  }

  .landing-page .waving-hand {
    width: 86px;
    height: 86px;
    margin-left: 15px;
  }

  .about-me .left {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    height: 80%;
    margin-top: 40px;
  }

  .about-me .left .bottom {
    margin-top: 20px;
  }

  .about-me .left .top .memoji {
    width: 140px;
    height: 180px;
  }

  .about-me .left .top .name {
    font-size: 20px;
  }

  .about-me .left .top .nickname {
    font-size: 16px;
  }
  .about-me .left .top .desc {
    font-size: 14px;
  }

  .about-me .left .bottom .info .mail {
    font-size: 14px;
  }

  .about-me .left .bottom .info .info-btn {
    font-size: 13px;
    margin-left: 8px;
    padding: 6px 8px;
  }

  .about-me .right {
    margin-bottom: 24px;
  }

  .about-me .right .title {
    margin-top: 50px;
    font-size: 22px;
    margin-left: 6%;
  }

  .about-me .right .career-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me .right .career-list .list {
    width: 90%;
    max-width: 590px;
    padding: 20px 26px;
  }

  .about-me .right .career-list .list .list-title {
    font-size: 15px;
    line-height: 1.5em;
  }

  .about-me .right .career-list .list .list-desc {
    font-size: 13px;
    line-height: 1.5em;
  }
}

@media (max-width: 480px) {
  .projects-btn {
    left: -27px;
    padding: 4px 8px;
    font-size: 12px;
  }

  .landing-page {
    padding: 20px;
  }

  .landing-page .waving-hand {
    width: 70px;
    height: 70px;
  }

  .landing-page .title {
    font-size: 40px;
  }

  .about-me .left .top .memoji {
    width: 110px;
    height: 150px;
  }

  .about-me .right .career-list .list .list-title {
    font-size: 14px;
    line-height: 1.5em;
  }

  .about-me .right .career-list .list .list-desc {
    font-size: 13px;
    line-height: 1.5em;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .projects-btn {
    left: -28px;
  }

  .about-me .right .career-list .list .list-title {
    font-size: 13px;
    line-height: 1.5em;
  }

  .about-me .right .career-list .list .list-desc {
    font-size: 12px;
    line-height: 1.5em;
  }
}
