.container {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 80px;
  background-color: darkcyan;
}

.output {
  display: block;
  height: 100px;
}
.exp {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, -80);
}

div .act {
  opacity: 100;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 0.5s cubic-bezier(0, 0.87, 1, 0.64);
}
