.work-container {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

/* 1. work 첫번째 페이지 */
.work-container .title-mockup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work-container .title-mockup .title-area {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.work-container .title-mockup .title-area .title {
  font-size: 80px;
  font-weight: 700;
  font-family: 'futura-pt', sans-serif;
  margin-left: 30px;
}

.work-container .title-mockup .title-area .title-icon {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  margin-top: 40px;
}

.work-container .title-mockup .slide {
  overflow: hidden;
  width: 760px;
  max-width: 700px;
  height: 60%;
  background: linear-gradient(
    136.67deg,
    rgba(255, 255, 255, 0.2) 15.23%,
    rgba(255, 255, 255, 0.2) 83.75%
  );
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.work-container .title-mockup .slide .slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.work-container .title-mockup .slide .slide-container .inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-container .title-mockup .slide .slide-container .inner > img {
  margin: 10%;
  width: 48%;
}

.work-container .title-mockup .slide .slide-container .inner .imac {
  width: 56%;
}

.work-container .title-mockup .slide-button {
  margin-top: 10px;
}

.work-container .title-mockup .slide-button button {
  all: unset;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: 0 2px;
  font-size: 5px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

/* 2. work 두번째 페이지 */
.work-container .explain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}
/* 4. 두번째 페이지 왼쪽 섹션 */
.work-container .explain .left {
  position: relative;
  display: flex;
  align-items: center;
}

.work-container .explain .right .desc-part {
  display: flex;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  .work-container .title-mockup .slide {
    width: 76vw;
    max-width: 700px;
    max-height: 420px;
  }

  .work-container .title-mockup .title-area .title-icon {
    margin-top: 30px;
  }

  .work-container .explain .right .desc-part {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .work-container .title-mockup .title-area {
    margin-bottom: 8px;
  }

  .work-container .title-mockup .title-area .title {
    font-size: 56px;
    margin-left: 10px;
  }

  .work-container .title-mockup .title-area .title-icon {
    width: 20px;
    margin-top: 20px;
    margin-left: 4px;
  }

  .work-container .title-mockup .slide {
    max-height: 300px;
    border-radius: 30px;
  }

  .work-container .title-mockup .slide .slide-container .inner > img {
    width: 58%;
  }
}
