.work-section {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

/* 1. work 첫번째 페이지 */
.work-section .mockup-slide {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0;
  box-sizing: border-box;
}

.work-section .mockup-slide .title-area {
  margin-bottom: 20px;
}

.work-section .mockup-slide .title-area .title-box {
  display: flex;
  justify-content: center;
}

.work-section .mockup-slide .title-area .title {
  font-size: 70px;
  font-weight: 700;
  font-family: 'futura-pt', sans-serif;
  margin-left: 30px;
}

.work-section .mockup-slide .title-area .title-icon {
  display: inline-block;
  width: 26px;
  margin-left: 10px;
  margin-top: 26px;
}

.work-section .mockup-slide .title-area .work-program {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 28px;
}

.work-section .mockup-slide .title-area .work {
  color: #ffffff;
  opacity: 0.5;
  padding: 6px 8px 7px 8px;
  display: inline-block;
  font-size: 13px;
  border-radius: 2px;
  box-sizing: border-box;
}

.work-section .mockup-slide .title-area .program {
  display: inline-block;
  font-size: 14px;
  margin-left: 8px;
  font-family: 'futura-pt', sans-serif;
  font-weight: 500;
  opacity: 0.7;
}

.work-section .mockup-slide .slide-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 33px);
  right: 20px;
  z-index: 1000;
}

.work-section .mockup-slide .slide-button button {
  all: unset;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  cursor: pointer;
}

.work-section .mockup-slide .slide-button button::after {
  content: '';
  background-color: rgb(0, 0, 0);
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border-radius: 50%;
}

.work-section .mockup-slide .slide-button .button-opacity {
  opacity: 0.7;
}

.work-section .mockup-slide .slide {
  overflow: scroll;
  width: 640px;
  max-width: 640px;
  height: 72%;
  max-height: 510px;
  background: linear-gradient(
    136.67deg,
    rgba(255, 255, 255, 0.3) 15.23%,
    rgba(255, 255, 255, 0.2) 83.75%
  );
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.work-section .mockup-slide .slide .slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}
.work-section .mockup-slide .slide .slide-container .inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-section .mockup-slide .slide .slide-container .inner .mockup-first {
  margin: 6%;
  width: 42%;
}

.work-section .mockup-slide .slide .slide-container .inner .mockup-second {
  width: 48%;
}

.work-section .mockup-slide .slide .slide-container .inner .imac {
  width: 56%;
  margin: 6%;
}

.github {
  display: flex;
  align-items: center;
  z-index: 100;
  margin-top: 20px;
}

.github-icon {
  width: 24px;
  margin-bottom: 2px;
  margin-right: 6px;
}

.github-page {
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* 2. work 두번째 페이지 */
.work-section .explain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  box-sizing: border-box;
}
/* 4. 두번째 페이지 왼쪽 섹션 */
.work-section .explain .left {
  position: relative;
  display: flex;
  align-items: center;
}

.work-section .explain .right .desc-part {
  font-size: 14px;
  line-height: 1.5em;
  text-align: right;
  margin: 20px 0;
}

.work-section .explain .right .bold {
  font-weight: 600;
  margin-bottom: 2px;
  display: block;
  font-size: 14px;
}

.work-section .explain .right .desc-part p {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .work-section .mockup-slide .slide {
    width: 600px;
    height: 68%;
  }
}

@media (max-width: 768px) {
  .work-section .mockup-slide .title-area .title {
    font-size: 60px;
  }

  .work-section .mockup-slide .slide {
    position: relative;
    width: 76vw;
    max-width: 700px;
    max-height: 420px;
  }

  .work-section .mockup-slide .slide .slide-container .inner .mockup-first {
    width: 48%;
  }

  .work-section .mockup-slide .slide .slide-container .inner .mockup-second {
    width: 54%;
  }

  .work-section .mockup-slide .title-area .title-icon {
    width: 22px;
    margin-top: 20px;
    margin-left: 6px;
  }

  .work-section .explain .right .desc-part {
    font-size: 13px;
    text-align: left;
    margin: 10px 0;
    padding: 0;
  }

  .work-section .explain .right .bold {
    width: 100px;
    font-size: 13px;
    margin-top: 2px;
  }
}

@media (max-width: 480px) {
  .work-section .mockup-slide .title-area {
    margin-bottom: 20px;
  }

  .work-section .mockup-slide .title-area .title {
    font-size: 50px;
    margin-left: 10px;
  }

  .work-section .mockup-slide .title-area .title-icon {
    width: 20px;
    margin-top: 20px;
    margin-left: 4px;
  }

  .work-section .mockup-slide .title-area .work-program {
    margin-left: 10px;
    font-size: 12px;
  }

  .work-section .mockup-slide .title-area .work {
    padding: 4px 6px 5px 6px;
  }

  .work-section .mockup-slide .slide {
    max-height: 280px;
    border-radius: 30px;
  }

  .work-section .mockup-slide .slide-button button {
    margin-right: -8px;
  }

  .work-section .mockup-slide .slide-button button::after {
    width: 9px;
    height: 9px;
  }

  .work-section .mockup-slide .slide .slide-container .inner .mockup-first {
    width: 54%;
  }

  .work-section .mockup-slide .slide .slide-container .inner .mockup-second {
    width: 58%;
  }

  .work-section .mockup-slide .slide .slide-container .inner .imac {
    width: 60%;
  }

  .work-section .explain .right .desc-part {
    margin-bottom: 10px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .work-section .mockup-slide {
    height: auto;
  }

  .work-section .mockup-slide .slide {
    width: 62vw;
    height: 280px;
    border-radius: 30px;
  }
  .work-section .explain {
    height: auto;
  }
}
