/* 전체 페이지 */
.timer {
  background-color: #f2f3f7;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

/* 1. 타이머 첫번째 페이지 */
.timer .title-mockup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer .title-mockup .title-area {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.timer .title-mockup .title-area .title {
  font-size: 100px;
  font-weight: 700;
  font-family: 'futura-pt', sans-serif;
  margin-left: 30px;
}

.timer .title-mockup .title-area .clock {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  margin-top: 40px;
}

.timer .slide {
  overflow: hidden;
  width: 760px;
  max-width: 800px;
  height: 60%;
  background: linear-gradient(
    136.67deg,
    rgba(255, 255, 255, 0.1) 15.23%,
    rgba(255, 255, 255, 0.1) 83.75%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.slide-container .inner {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.slide-container .inner > img {
  width: 42%;
}

.timer .title-mockup .slide-button {
  margin-top: 5px;
  height: 20px;
  width: 100px;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer .title-mockup .slide-button button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 3px;
  opacity: 0.4;
  background-color: rgba(0, 0, 0);
  cursor: pointer;
}

.timer .title-mockup .slide-button .button-opacity {
  opacity: 0.7;
}
/* 2. 타이머 두번째 페이지 */
.timer .explain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

/* 3. 두번째 페이지 왼쪽 섹션 */
.timer .explain .left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.timer .explain .left .light {
  background-image: url('../img/light-mode.jpg');
  background-size: 100%;
  background-color: #f2f3f7;
  background-repeat: no-repeat;
  background-position: center;
  width: 700px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(15, 41, 107, 0.25);
  transition: 400ms ease-in-out;
}

.timer .explain .left .light:hover {
  background-color: #353a3f;
  background-image: url('../img/dark-mode.jpg');
}

.hover {
  border-radius: 20px;
  width: 100%;
  height: 550px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
}

.hover-me {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms ease-in-out;
}

.hover-me::before {
  content: 'Hover Here!';
  font-family: 'futura-pt', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
  box-sizing: border-box;
}

/* 4. 두번째 페이지 오른쪽 섹션 */
.timer .explain .right {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
}

.timer .explain .right .desc-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  text-align: right;
  line-height: 1.5em;
  margin: 5em 0;
}

.timer .explain .right .desc-part .icon {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.timer .right .desc-part .icon .switch {
  width: 42px;
  height: 22px;
}

.timer .right .desc-part .icon .reset {
  width: 18px;
  height: 18px;
}

.timer .right .desc-part .icon .timer-setting {
  width: 100px;
  height: 35px;
}

.timer .explain .right .desc-part .icon span {
  font-size: 14px;
}
.timer .explain .right .desc-part .icon:nth-child(2) span {
  margin-top: 3px;
}

.timer .explain .right .desc-part .icon img {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .timer .explain .left .light {
    width: 600px;
    height: 500px;
  }

  .hover {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  .timer .slide {
    width: 76vw;
    max-width: 700px;
    max-height: 420px;
  }

  .slide-container .inner > img {
    width: 50%;
  }

  .timer .explain {
    flex-direction: column;
  }

  .timer .explain .left {
    margin-right: 0;
    /* height: 40%; */
  }

  .timer .explain .left .light {
    width: 500px;
    height: 420px;
  }

  .hover {
    width: 500px;
    height: 420px;
    top: auto;
    left: auto;
  }

  .timer .explain .right {
    height: auto;

    align-items: flex-start;
  }

  .timer .explain .right .desc-part {
    margin: 0;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
  }

  .timer .explain .right .icon-list .icon span {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .timer .title-mockup .title-area {
    margin-bottom: 20px;
  }

  .timer .title-mockup .title-area .title {
    font-size: 70px;
  }

  .timer .title-mockup .title-area .clock {
    width: 20px;
    margin-left: 4px;
    margin-top: 32px;
  }

  .timer .slide {
    max-height: 300px;
    border-radius: 30px;
  }

  .slide-container .inner > img {
    width: 58%;
  }

  .timer .explain .left .light {
    background-size: 94%;
    width: 84vw;
    height: 300px;
  }

  .hover {
    width: 84vw;
    height: 82%;
    top: auto;
    left: auto;
  }
}
