.work-container {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

/* 1. work 첫번째 페이지 */
.work-container .mockup-slide {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work-container .mockup-slide .title-area {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.work-container .mockup-slide .title-area .title {
  font-size: 80px;
  font-weight: 700;
  font-family: 'futura-pt', sans-serif;
  margin-left: 30px;
}

.work-container .mockup-slide .title-area .title-icon {
  display: inline-block;
  width: 26px;
  margin-left: 10px;
  margin-top: 26px;
}

.work-container .mockup-slide .slide-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 27px);
  right: 20px;
  z-index: 1000;
}

.work-container .mockup-slide .slide-button button {
  all: unset;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin: 4px 0;
  font-size: 5px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.work-container .mockup-slide .slide-button .button-opacity {
  opacity: 0.7;
}

.work-container .mockup-slide .slide {
  overflow: hidden;
  width: 760px;
  max-width: 700px;
  height: 60%;
  max-height: 520px;
  background: linear-gradient(
    136.67deg,
    rgba(255, 255, 255, 0.3) 15.23%,
    rgba(255, 255, 255, 0.2) 83.75%
  );
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.work-container .mockup-slide .slide .slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.work-container .mockup-slide .slide .slide-container .inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-container .mockup-slide .slide .slide-container .inner .mockup-first {
  margin: 6%;
  width: 42%;
}

.work-container .mockup-slide .slide .slide-container .inner .mockup-second {
  width: 48%;
}

.work-container .mockup-slide .slide .slide-container .inner .imac {
  width: 56%;
}

.github {
  display: flex;
  align-items: center;
  z-index: 100;
  margin-top: 20px;
}

.github-icon {
  width: 24px;
  margin-bottom: 2px;
  margin-right: 6px;
}

.github-page {
  font-family: 'futura-pt', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* 2. work 두번째 페이지 */
.work-container .explain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
}
/* 4. 두번째 페이지 왼쪽 섹션 */
.work-container .explain .left {
  position: relative;
  display: flex;
  align-items: center;
}

.work-container .explain .right .desc-part {
  font-size: 14px;
  line-height: 1.5em;
  text-align: right;
}

@media (max-width: 768px) {
  .work-container .mockup-slide .title-area .title {
    font-size: 60px;
  }
  .work-container .mockup-slide .slide {
    position: relative;
    width: 76vw;
    max-width: 700px;
    max-height: 420px;
  }

  .work-container .mockup-slide .slide .slide-container .inner .mockup-first {
    width: 50%;
  }

  .work-container .mockup-slide .slide .slide-container .inner .mockup-second {
    width: 54%;
  }

  .work-container .mockup-slide .title-area .title-icon {
    width: 22px;
    margin-top: 20px;
    margin-left: 6px;
  }

  .work-container .explain .right .desc-part {
    font-size: 13px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .work-container .mockup-slide .title-area {
    margin-bottom: 8px;
  }

  .work-container .mockup-slide .title-area .title {
    font-size: 50px;
    margin-left: 10px;
  }

  .work-container .mockup-slide .title-area .title-icon {
    width: 20px;
    margin-top: 20px;
    margin-left: 4px;
  }

  .work-container .mockup-slide .slide-button button {
    width: 9px;
    height: 9px;
  }

  .work-container .mockup-slide .slide {
    max-height: 280px;
    border-radius: 30px;
  }

  .work-container .mockup-slide .slide .slide-container .inner .mockup-first {
    width: 54%;
  }

  .work-container .mockup-slide .slide .slide-container .inner .mockup-second {
    width: 58%;
  }

  .work-container .mockup-slide .slide .slide-container .inner .imac {
    width: 60%;
  }

  .work-container .explain .right .desc-part {
    text-align: center;
  }
}
